.t-HeroRegion {
    overflow: visible;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;  
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f8f8f8;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu:before {
  position: absolute;
  height: 0px;
  width: 0px;
  top: -7px;
  left: 11px;
  right: 0px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f8f8f8;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';  
}

.dropdown-menu. li.dropdown-menu-item a:hover {
  background-color: white;
}

.dropdown-menu.t-Button--danger li.dropdown-menu-item a{
  color:white;
}

.dropdown-menu.t-Button--danger li.dropdown-menu-item a:hover {
    background-color: #f3746d;
}

.dropdown-menu.t-Button--danger:before,
.dropdown-menu.t-Button--danger:after {
  border-bottom: 7px solid #e90c00;
}

.dropdown-menu.t-Button--success:before,
.dropdown-menu.t-Button--success:after {
  border-bottom: 7px solid #4cd964;
}

.dropdown-menu.t-Button--warning:before,
.dropdown-menu.t-Button--warning:after {
  border-bottom: 7px solid #ffcc00;
}

.dropdown-menu.t-Button--primary:before,
.dropdown-menu.t-Button--primary:after {
  border-bottom: 7px solid #b5d3f2;
}

.dropdown-menu.t-Button--primary:hover,
.dropdown-menu-btn.t-Button--primary:hover{
  background-color: #b5d3f2;
}
.dropdown-menu.t-Button--primary li.dropdown-menu-item a:hover {
  background-color: #d5e2ef;
}

.dropdown-menu.t-Button--danger li.dropdown-menu-item a:hover {
    background-color: #f3746d;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 11px;
  right: 0px;
  height: 0px;
  width: 0px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f8f8f8;
  border-left: 6px solid transparent;
  content: '';
}


.dropdown-menu-btn .fa{
  width: 14px;
  height: 14px;
}


