
.btn-dropdown-menu{
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    /**
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    **/
}

.normal{
    color: #000000;
    background-color: white;
}

.dropdown-menu{
  margin: 0px;
}

.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 2px 5px;
}

.dropdown-menu .dropdown-menu-item{
    cursor:pointer;
}
.dropdown-menu>li>span.menu-item>a{
    font-weight: 400;
    line-height: 1.42857143;
    color: inherit;
}

.dropdown-menu span.menu-icon,
.dropdown-menu span.menu-item {
    display: inline-block;
    padding: 3px 20px 3px 0px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu span.menu-icon{
    padding: 3px 6px 3px 10px;
}

.dropdown-menu-btn,
.dropdown-menu-btn.t-Button:hover,
.dropdown-menu-btn.a-Button:hover,
.dropdown-menu-btn.t-Button:active,
.dropdown-menu-btn.a-Button:active{
    z-index: initial;
}

.dropdown-menu{
    list-style-type:none;
}
.dropdown-menu-btn .t-Icon.fa {
    margin-right: 5px;
}


