
.btn-dropdown-menu{
    background-color: white;
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.dropdown-menu{
  margin: 0px;
}

.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 2px 5px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.dropdown-menu:before {
  position: absolute;
  height: 0px;
  width: 0px;
  top: -7px;
  left: 11px;
  right: 0px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f8f8f8;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
*/
.dropdown-menu-btn,
.dropdown-menu-btn.t-Button:hover,
.dropdown-menu-btn.a-Button:hover,
.dropdown-menu-btn.t-Button:active,
.dropdown-menu-btn.a-Button:active{
  z-index: initial;
}

.dropdown-menu-btn .t-Icon.fa {
    margin-right: 5px;
}
.dropdown-menu. li.dropdown-menu-item a:hover {
  background-color: white;
}

.dropdown-menu.normal{
  background-color:#f8f8f8;
}
/*
.dropdown-menu.t-Button--primary:hover,
.dropdown-menu.t-Button--warning:hover,
.dropdown-menu.t-Button--primary:focus,
.dropdown-menu.t-Button--warning:focus{
  box-shadow:inherit;
  outline: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu.t-Button--danger li.dropdown-menu-item a{
  color:white;
}

.dropdown-menu.t-Button--danger li.dropdown-menu-item a:hover {
    background-color: #f3746d;
}

.dropdown-menu.t-Button--danger:before,
.dropdown-menu.t-Button--danger:after {
  border-bottom: transparent;
}

.dropdown-menu.t-Button--success:before,
.dropdown-menu.t-Button--success:after {
  border-bottom: transparent;
}

.dropdown-menu.t-Button--warning:before,
.dropdown-menu.t-Button--warning:after {
  border-bottom: transparent;
}

.dropdown-menu.t-Button--primary:before,
.dropdown-menu.t-Button--primary:after {
  border-bottom: transparent;
}



.dropdown-menu.t-Button--primary:hover,
.dropdown-menu-btn.t-Button--primary:hover{
  background-color: #b5d3f2;
}
.dropdown-menu.t-Button--primary li.dropdown-menu-item a:hover {
  background-color: #d5e2ef;
}

.dropdown-menu.t-Button--danger li.dropdown-menu-item a:hover {
  background-color: #f3746d;
}

.dropdown-menu.t-Button--warning li.dropdown-menu-item a:hover {
  background-color: #fff0b4;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 11px;
  right: 0px;
  height: 0px;
  width: 0px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f8f8f8;
  border-left: 6px solid transparent;
  content: '';
}

*/



